.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}

.login-card {
  width: 400px;
  padding: 20px;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 0px;
  text-align: center;
}

.success-snackbar {
  background-color: green;
  color: white;
}
